%% -*- mode: erlang -*-

[
 {ebot, [
	 %% -----------------------------------------------
	 %% DATABASE
	 %% -----------------------------------------------
	 %%
	 %% you need to set the db backend (COUCHDB or RIAK)
	 %% in src/ebot.hrl file
	 {db_hostname, "127.0.0.1"},
	 %% COUCHDB
	 {db_port, 5984}
	 %% RIAK 
	 %% {db_port, 8087}.
	]
 }
].
